/* GLOBAL APP LAYOUT */

*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.appLayout{
  display:flex;
  width:100%;
  min-height:100vh;
}

/* SIDEBAR (ASSUMING FIXED WIDTH) */
.sidebar{
    position: sticky;
    top: 0;
    height: 100vh;
  width:100px;
  flex-shrink:0;
}

/* MAIN PAGE CONTENT */

.pageContent{
  flex:1;
  min-height:100vh;
  background-size:300px;
  background-color:white;
  background-repeat: repeat;
  background-image: url("./assets/bg.png");
  padding:30px;
  display:flex;
  justify-content:center;
}

/* FEED WIDTH */

.feedContainer{
  width:100%;
  max-width:650px;
}

/* RIGHT PANEL */

.rightPanel{
  width:280px;
  margin-left:40px;
  flex-shrink:0;
}

/* 📱 MOBILE */

@media (max-width:900px){

  .sidebar{
    width:60px; /* shrink sidebar instead of pushing content */
  }

  .pageContent{
    padding:10px;
  }

  .rightPanel{
    display:none;
  }

  .feedContainer{
    max-width:100%;
  }

}